<%= render 'layouts/header' %>
<div class="text-gray-600 text-center py-12">
    <div class="text-3xl font-semibold mb-3">The requested page was not found.</div>
    <div class="text-lg">This page may be private. You may be able to view it by <%=link_to "logging in.", new_user_registration_path, class: "underline" %></div>
</div>