@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.list-scrollbar ::-webkit-scrollbar {
  width: 14px;
}

.list-scrollbar ::-webkit-scrollbar-track {
  background-color: rgb(211, 214, 221);
  border-right: 6px #E6E7ED solid;
  background-clip: padding-box;
}

.list-scrollbar ::-webkit-scrollbar-thumb {
  background: rgb(185, 187, 198);
  border-right: 6px #E6E7ED solid;
  background-clip: padding-box;
}

@keyframes highlight {
  0% {
      background: #0066ff; 
  }
  100% {
      background: none;
  }
}

.highlight {
  animation: highlight 4s;
}